<!--
File Name: CHospitalMapper.xml
Author: 박다윗 (davidpark.0098@gmail.com)
Last Update: 2023-01-09 00:33:33
Description: 협력병원 맵퍼
-->

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CHospitalMapper">
    <!-- 단일행 조회를 위한 기능 정의 -->
    <select id="selectItem">
        SELECT id, area, introduction, address, zipCode, tel, name, department, url, division, regDate, editDate FROM cooperationHospitalClinic WHERE id=#{id}
    </select>
    <!-- 다중행 조회를 위한 기능 정의 -->
    <select id="selectList">
        SELECT id, area, introduction, address, zipCode, tel, name, department, url, division, regDate, editDate FROM cooperationHospitalClinic

        <where>
            <if test="area != null and area != ''">
                area LIKE concat('%', #{area}, '%')
            </if>
            <if test="hospitalClinicName != null and hospitalClinicName != ''">
                OR name LIKE concat('%', #{hospitalClinicName}, '%')
            </if>
        </where>

        ORDER BY id DESC

        <!-- 페이지 구현을 위한 LIMIT절 추가 -->
        <if test="listCount > 0">
            LIMIT ${offset}, ${listCount}
        </if>
    </select>


    <!-- 데이터 저장을 위한 기능 정의 -->
    <insert id="insertItem">
        INSERT INTO cooperationHospitalClinic (area, introduction, address, zipCode, tel, name, department, url, division, regDate) VALUES (#{area}, #{introduction}, #{address}, #{zipCode}, #{tel}, #{name}, #{department}, #{url}, #{division}, now())
    </insert>


    <!-- 데이터 삭제를 위한 기능 정의 -->
    <delete id="deleteItem">
        DELETE FROM cooperationHospitalClinic WHERE id=#{id}
    </delete>


    <!-- 데이터 갱신을 위한 기능 정의 -->
    <update id="updateItem">
        UPDATE cooperationHospitalClinic SET area=#{area}, introduction=#{introduction}, address=#{address}, zipCode=#{zipCode}, tel=#{tel}, name=#{name}, department=#{department}, url=#{url}, division=#{division}, editDate=now()
        WHERE id=#{id}
    </update>


    <!-- 데이터 수 조회하기  -->
    <select id="selectCountAll">
        SELECT COUNT(*) AS cnt FROM cooperationHospitalClinic

        <where>
            <if test="name != null and name != ''">
                name LIKE concat('%', #{name}, '%')
            </if>
            <if test="area != null and area != ''">
                OR area LIKE concat('%', #{area}, '%')
            </if>
        </where>
    </select>
</mapper>
