<!--
File Name: CHospitalMapper.xml
Author: 박다윗 (davidpark.0098@gmail.com)
Last Update: 2023-01-09 00:33:33
Description: 협력병원 맵퍼
-->

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CHospitalMapper">
    <!-- 단일행 조회 -->
    <select id="selectItem">
        SELECT id, area, introduction, address, zipCode, tel, name, department, url, division, regDate, editDate FROM cooperationHospitalClinic WHERE id=#{id}
    </select>


    <!-- 다중행 조회 -->
    <select id="selectList">
        SELECT id, area, introduction, address, zipCode, tel, name, department, url, division, regDate, editDate FROM cooperationHospitalClinic

        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="division != null and division != ''">
                division = #{division}
            </if>
            <if test="area != null and area != ''">
                AND (area LIKE concat('%', #{area}, '%')
            </if>
            <if test="hospitalClinicName != null and hospitalClinicName != ''">
                OR name LIKE concat('%', #{hospitalClinicName}, '%'))
            </if>
            <if test="areaQuery != null and areaQuery != ''">
                AND area LIKE concat('%', #{areaQuery}, '%')
            </if>
        </trim>
        
        ORDER BY id DESC

        <if test="listCount > 0">
            LIMIT ${offset}, ${listCount}
        </if>
    </select>

    <!-- 지역별 데이터 수 조회 -->
    <select id="selectAreaCount">
        SELECT area, COUNT(area) AS 'areaCount' FROM cooperationhospitalclinic
        <where>
            <if test="division != null and division != ''">
                division = #{division}
            </if>
        </where>
        GROUP BY area;
    </select>

    <!-- 데이터 저장 -->
    <insert id="insertItem">
        INSERT INTO cooperationHospitalClinic (area, introduction, address, zipCode, tel, name, department, url, division, regDate) VALUES (#{area}, #{introduction}, #{address}, #{zipCode}, #{tel}, #{name}, #{department}, #{url}, #{division}, now())
    </insert>


    <!-- 데이터 삭제 -->
    <delete id="deleteItem">
        DELETE FROM cooperationHospitalClinic WHERE id=#{id}
    </delete>


    <!-- 데이터 갱신 -->
    <update id="updateItem">
        UPDATE cooperationHospitalClinic SET area=#{area}, introduction=#{introduction}, address=#{address}, zipCode=#{zipCode}, tel=#{tel}, name=#{name}, department=#{department}, url=#{url}, division=#{division}, editDate=now()
        WHERE id=#{id}
    </update>


    <!-- 데이터 수 조회  -->
    <select id="selectCountAll">
        SELECT COUNT(*) AS cnt FROM cooperationHospitalClinic

        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="division != null and division != ''">
                division = #{division}
            </if>
            <if test="area != null and area != ''">
                AND (area LIKE concat('%', #{area}, '%')
            </if>
            <if test="hospitalClinicName != null and hospitalClinicName != ''">
                OR name LIKE concat('%', #{hospitalClinicName}, '%'))
            </if>
            <if test="areaQuery != null and areaQuery != ''">
                AND area LIKE concat('%', #{areaQuery}, '%')
            </if>
        </trim>
    </select>
</mapper>
