<!-- 
 * @ File name: UserResultMapper.js
 * @ Author: 김다보미(cdabomi60@gmail.com)
 * @ Last Update: 2023-01-11 17:40
 * @ Description: 회원결과 sql mapper
-->


<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace='UserResultMapper'>
    <!-- 단일행 조회를 위한 기능 정의 -->
    <select id='selectItem'>
        SELECT id,departmentName,doctorName,date_format(visitDate, '%Y-%m-%d'),date_format(regDate, '%Y-%m-%d'),date_format(editDate,'%Y-%m-%d') FROM UserResult r INNER JOIN appointment a ON r.userinfo_id = a.userinfo_id WHERE id=#{id};
    </select>

    <!-- 다중행 조회를 위한 기능 정의 -->
    <select id='selectList'>
        SELECT id,departmentName,doctorName,date_format(visitDate, '%Y-%m-%d'),date_format(regDate, '%Y-%m-%d'),date_format(editDate,'%Y-%m-%d') FROM UserResult r INNER JOIN appointment a ON r.userinfo_id = a.userinfo_id

        <where>
            <if test="departmentName != null and departmentName != ''">
                departmentName LIKE concat('%',#{departmentName},'%')
            </if>

            <if test="doctorName != null and doctorName != ''">
                OR doctorName LIKE concat('%',#{doctorName},'%')
            </if>
        </where>
        
        ORDER BY id DESC

        <!-- 페이지 구현을 위한 LIMIT절 추가 -->
        <if test="listCount > 0">
            LIMIT ${offset},${listCount}
        </if>
    </select>

    <!-- 데이터 저장을 위한 기능 정의 -->
    <insert id='insertItem'>
        INSERT INTO UserResult (departmentName,doctorName,visitDate,regDate,editDate) 
        VALUES (#{departmentName},#{doctorName},#{visitDate},#{regDate},#{editDate});
    </insert>

    <!-- 데이터 삭제를 위한 기능 정의 -->
    <delete id='deleteItem'>
        DELETE FROM UserResult WHERE id=#{id};
    </delete>

    <!-- 데이터 갱신을 위한 기능 정의 -->
    <update id='updateItem'>
        UPDATE UserResult SET UserResult=#{UserResult},doctorName=#{doctorName},visitDate=#{visitDate},editDate=#{editDate} WHERE id=#{id};
    </update>

    <!-- 데이터 수 조회하기 -->
    <select id='selectCountAll'>
        SELECT COUNT(*) AS cnt FROM UserResult

        <where>
            <if test="departmentName != null and departmentName != ''">
                departmentName LIKE concat('%',#{departmentName},'%')
            </if>

            <if test="doctorName != null and doctorName != ''">
                OR doctorName LIKE concat('%',#{doctorName},'%')
            </if>
        </where>
    </select>
</mapper>